html {
    font-family: "Roboto";
}

body {
    _overflow: hidden;
}


/*

html,
body,
md-content {
    height: 100%;
}*/

#side-nav {
    background-color: #EEEEEE;
    height: 100%;
    width: 20%;
    position: fixed;
    padding-top: 56px;
    padding-bottom: 56px;
    _position: absolute;
    top: 0;
}

.intro-profile {
    vertical-align: middle;
    text-align: center;
}

.intro-contacts {}

#content {
    height: 100%;
    _overflow: auto;
    padding: 0;
    margin-left: 20%;
    padding: 72px;
}

#innsbluck-icon {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50%;
}
